
/* Footer */
footer {
    background-color: #8A8686;
    color: white;
    padding: 20px;
  }
  
  .footer-container {
    display: flex;
    align-items: flex-start; 
    justify-content: space-between;
    width: 100%;
  }
  
  .footer-container > div {
    flex: 1; 
    margin-right: 30px;
    font-family: "Rasa", serif;
    color: #000000;
    font-size: 16px;
    text-align: justify;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  
  }
  
  .titulo-footer {
    text-align: center;
  }
  
  .titulo-footer-siguenos {
    margin-bottom: 10px; 
    margin-left: 30px;
  }
  
  .footer-logo {
    display: flex;
    align-items: center;
  }
  
  .footer-logo img {
    width: 100px;
  }
  
  .footer-lema {
    text-align: center;
    color: black;
    letter-spacing: 4px;
    width: 400px;
    font-family: "Rasa", serif;
    color: #000000;
    font-size: 20px;
  }
  
  .footer-siguenos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Rasa", serif;
    color: #000000;
    font-size: 20px;
    text-align: center;
  }
  
  .redes-sociales {
    display: flex;
    margin-top: 10px; 
  }
  
  .redes-sociales a {
    margin-right: 30px;
  }
  /* Footer */


  #map {
    height: 400px;
    width: 100%;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

