<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb</title>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/c8e2afe6ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="nosotros.component.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>
    <div class="cabecera">
        <img style="width: 100%; height: 900px;" src="assets/img/ImgNoso/Familia.png" alt="...">
    </div>
    <section class="hero">
        <p class="lema1">"Informate, Conocenos y Agenda tu cita"</p>
        <a href="#" class="btn-Contacto" style="letter-spacing: 7px;">CONTÁCTANOS</a>
    </section>
    <br><br><br>
    <div class="about-section">
        <h2 class="section-title">¡Bienvenido a Airbnb!</h2>
        <p class="section-text">En Airbnb, creemos que cada viaje es una oportunidad para descubrir un mundo nuevo y sentirse como en casa en cualquier parte del globo. Desde nuestras raíces humildes en San Francisco en 2008 hasta convertirnos en una comunidad global con millones de anfitriones y huéspedes en todo el mundo, nuestra misión sigue siendo la misma: ofrecer experiencias únicas y auténticas que conecten a las personas a través de la hospitalidad.</p>
        <p class="section-text">Nos apasiona facilitar conexiones significativas entre personas de diferentes culturas, creencias y orígenes. Ya sea que estés buscando una escapada tranquila en la naturaleza, una aventura emocionante en la ciudad o una inmersión en la cultura local, Airbnb tiene el lugar perfecto para ti.</p>
        <p class="section-text">Nuestros anfitriones abren las puertas de sus hogares para brindarte una estancia memorable y personalizada. Desde acogedores apartamentos urbanos hasta encantadoras casas rurales y exclusivas experiencias de alojamiento, cada espacio en Airbnb cuenta una historia única y te invita a ser parte de ella.</p>
        <p class="section-text">Además de ofrecerte alojamiento, en Airbnb también encontrarás una amplia gama de actividades y experiencias diseñadas para que descubras lo mejor de cada destino. Desde clases de cocina con chefs locales hasta recorridos guiados por barrios históricos, nuestras experiencias te sumergirán en la vida cotidiana de los lugareños y te permitirán vivir momentos inolvidables.</p>
        <p class="section-text" style="text-align: center;"><b>¡Únete a nuestra comunidad global y comienza a explorar el mundo de una manera completamente nueva con Airbnb!</b></p>
      </div>
      <br><br><br>
      <h2 class="section-title">Nuestro Equipo de Trabajo</h2>
      <br><br><br>
      <div id="wrap">
        <a class="hb">
          <div class="c">
            <img id="IMG1" src="assets/img/ImgNoso/Alexis.jpg" alt=""/>
            <div class="txt">
              <h1>ALEXIS OSWALDO VALDEZ OLMOS</h1>
              <p id="p3">"¡Hola viajero intrépido! Soy Alexis, tu copiloto en esta travesía de Airbnb. No te preocupes, ¡tengo un mapa del tesoro para encontrar tu alojamiento!"</p>
            </div>
          </div>
        </a>
        <a class="hb">
          <div class="c">
            <img id="IMG2" src="assets/img/ImgNoso/Abraham.png" alt=""/>
            <div class="txt">
              <h1>ABRAHAM </h1>
              <p id="p3">"¡Saludos desde la central de operaciones de Airbnb! Soy Abraham y estoy aquí para evitar que te pierdas en el laberinto de las reservas."</p>
            </div>
          </div>
        </a>
        <a class="hb">
          <div class="c">
            <img id="IMG1" src="assets/img/ImgNoso/Fabiel.jpg" alt=""/>
            <div class="txt">
              <h1>FABIEL ORTEGA RUIZ</h1>
              <p id="p3">"¡Bienvenido a la casa de la diversión! Soy Fabiel y estoy aquí para garantizar que tu estancia en Airbnb sea más emocionante que una montaña rusa."</p>
            </div>
          </div>
        </a>
        <a class="hb">
          <div class="c">
            <img id="IMG2" src="assets/img/ImgNoso/Emilio.jpg" alt=""/>
            <div class="txt">
              <h1>EMILIO ALEJANDRO GARCÍA DEL ALTO</h1>
              <p id="p3">"¡Hola explorador de nuevas aventuras! Soy Emilio y estoy aquí para asegurarme de que tu experiencia en Airbnb sea tan épica como una película de Hollywood."</p>
            </div>
          </div>
        </a>
        <a class="hb">
            <div class="c">
              <img id="IMG1" src="assets/img/ImgNoso/Osmar.png" alt=""/>
              <div class="txt">
                <h1>OSMAR ENRIQUE MARTINEZ LÓPEZ</h1>
                <p id="p3">"¡Hola amante de las experiencias únicas! Soy Osmar y estoy aquí para ayudarte a encontrar tu propio 'hogar lejos del hogar' en Airbnb. ¿Listo para hacer historia?"</p>
              </div>
            </div>
          </a>
      </div>
<hr>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<hr>
<div class="TARJETA">
    <div class="tarjetas">
      <div class="tarjetas__item">
        <h2 class="tarjetas__titulo">MISIÓN</h2>
        <div class="tarjetas__info">
          <p id="PT">Conectar a personas de todo el mundo para que puedan vivir experiencias únicas y auténticas, sintiéndose como en casa donde sea que vayan.</p>
        </div>
      </div>
      <div class="tarjetas__item">
        <h2 class="tarjetas__titulo">VISIÓN</h2>
        <div class="tarjetas__info">
          <p id="PT">Crear un mundo donde todos puedan sentirse bienvenidos y encuentren un lugar donde pertenecer, promoviendo la diversidad, la inclusión y la autenticidad.</p>
        </div>
      </div>
      <div class="tarjetas__item">
        <h2 class="tarjetas__titulo">OBJETIVO</h2>
        <div class="tarjetas__info">
          <p id="PT">Facilitar el intercambio cultural y la conexión humana a través de la hospitalidad, permitiendo que millones de personas exploren el mundo y se sientan parte de una comunidad global.</p>
        </div>
      </div>
    </div>
</div>
<br><br><br><br>
  <footer>
    <div class="footer-container">
        <div class="footer-logo">
            <img src="assets/img/Logo-sin-fondo.png" alt="DreamStay" style="height: 200px; width: 200px;">
            <div class="footer-lema">
                <p>"Conéctate con el mundo, encuentra tu hogar en cualquier parte."</p>
            </div>
        </div>
        <div class="footer-contacto">
            <h3>Contacto</h3>
            <p>Teléfono: 449-910-74-00 EXT. 10014</p>
            <p>Dirección: Av. Universidad 940, Ciudad Universitaria, Universidad Autónoma de Aguascalientes, 20110 Aguascalientes.</p>
        </div>
        <div class="footer-nosotros">
            <h3>Nosotros</h3>
            <!-- Agrega aquí más información o enlaces sobre ustedes -->
        </div>
        <div class="footer-siguenos">
            <h3>Síguenos</h3>
            <!-- Agrega aquí los íconos de las redes sociales -->
            <div class="redes-sociales">
                <a href="#"><i class="fa-brands fa-square-facebook fa-2xl" style="color: #000000;"></i></a>
                <a href="#"><i class="fa-brands fa-square-x-twitter fa-2xl" style="color: #000000;"></i></a>
                <a href="#"><i class="fa-brands fa-square-instagram fa-2xl" style="color: #000000;"></i></a>
                <a href="#"><i class="fa-brands fa-tiktok fa-2xl" style="color: #000000;"></i></a>
            </div>
        </div>
    </div>
</footer>

<script>
   $(document).ready(function(){
  var docWidth = $('body').width(),
      $wrap = $('#wrap'),
      $images = $('#wrap .hb'),
      slidesWidth = $wrap.width();
  
  $(window).on('resize', function(){
    docWidth = $('body').width();
    slidesWidth = $wrap.width();
  })
  
  $(document).mousemove(function(e) {
    var mouseX = e.pageX,
        offset = mouseX / docWidth * slidesWidth - mouseX / 2;
    
    $images.css({
      '-webkit-transform': 'translate3d(' + -offset + 'px,0,0)',
              'transform': 'translate3d(' + -offset + 'px,0,0)'
    });
  });
})
</script>

</body>
</html>